<h2>{{pageTitle}}</h2>
<form (ngSubmit)="updateMember()">
	<fieldset>
		<legend>基础信息</legend>
		@if (member.avatar_url && member.avatar_url.length > 0) {
		<img [src]="member.avatar_url" alt="头像" width="300" [title]="member.avatar_url" />
		}
		@else {
		<mat-form-field>
			<mat-label>头像</mat-label>
			<input matInput [(ngModel)]="member.avatar_url" name="avatar_url" type="url" placeholder="头像链接"
				[readonly]="!manipulationMode" />
		</mat-form-field>
		}
		<mat-form-field>
			<mat-label>姓名</mat-label>
			<input matInput [(ngModel)]="member.name" name="name" placeholder="朱元璋" required readonly />
		</mat-form-field>
		<mat-form-field>
			<mat-label>拼音</mat-label>
			<input matInput [(ngModel)]="member.pin_yin" name="pin_yin" placeholder="zhū yuán zhāng" readonly />
		</mat-form-field>
		<mat-form-field>
			<mat-label>性别</mat-label>
			<mat-select name="gender" [(ngModel)]="member.gender" [disabled]="!manipulationMode">
				<mat-option [value]="0">未知❓</mat-option>
				<mat-option [value]="1">男♂️</mat-option>
				<mat-option [value]="2">女♀️</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>父</mat-label>
			<mat-select name="father_id" [(ngModel)]="member.father_id" [disabled]="!manipulationMode">
				<mat-option>未知</mat-option>
				@for (nm of males;track nm.value) {
				<mat-option [value]="nm.value">{{nm.name}}</mat-option>
				}
			</mat-select>
			<!-- <input matInput [formControl]="fatherCtrl" [matAutocomplete]="autoFathers" />
			<mat-autocomplete #autoFathers="matAutocomplete" (optionSelected)="selectFather($event.option.value)">
				@for (option of filteredFathers | async; track option.value) {
				<mat-option [value]="option.value">{{option.name}}</mat-option>
				}
			</mat-autocomplete> -->
		</mat-form-field>
		<mat-form-field>
			<mat-label>母</mat-label>
			<mat-select name="mother_id" [(ngModel)]="member.mother_id" [disabled]="!manipulationMode">
				<mat-option>未知</mat-option>
				@for (nm of females;track nm.value) {
				<mat-option [value]="nm.value">{{nm.name}}</mat-option>
				}
			</mat-select>
			<!-- <input matInput [formControl]="motherCtrl" [matAutocomplete]="autoMothers" />
			<mat-autocomplete #autoMothers="matAutocomplete" (optionSelected)="selectMother($event.option.value)">
				@for (option of filteredMothers | async; track option.value) {
				<mat-option [value]="option.value">{{option.name}}</mat-option>
				}
			</mat-autocomplete> -->
		</mat-form-field>
		<mat-form-field>
			<mat-label>诞辰</mat-label>
			<input matInput [(ngModel)]="member.birthday" name="birthday" type="date" [readonly]="!manipulationMode">
		</mat-form-field>
		<mat-form-field>
			<mat-label>祭日</mat-label>
			<input matInput [(ngModel)]="member.deathday" name="deathday" type="date" [readonly]="!manipulationMode" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>简介</mat-label>
			<textarea matInput [(ngModel)]="member.summary" name="summary" [readonly]="!manipulationMode"></textarea>
		</mat-form-field>
	</fieldset>
	<fieldset class="extra">
		<legend>扩展信息</legend>
		<div class="flex" *ngIf="extraInfo&&extraInfo.length">
			<ng-container *ngFor="let kv of extraInfo; let i = index">
				@if (manipulationMode) {
				<div class="col-2">
					<button mat-icon-button color="warn" (click)="removeExtra(i)" title="删除此扩展信息">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
				}
				<div [ngClass]="manipulationMode?'col-5':'col-6'">
					<mat-form-field>
						<mat-label>键</mat-label>
						<input matInput [(ngModel)]="kv[0]" name="{{kv[0]}}" [ngModelOptions]="{standalone: true}"
							[matAutocomplete]="autoCommonExtraKeys" [readonly]="!manipulationMode" />
					</mat-form-field>
				</div>
				<div [ngClass]="manipulationMode?'col-5':'col-6'">
					<mat-form-field>
						<mat-label>值</mat-label>
						<input matInput [(ngModel)]="kv[1]" name="{{kv[1]}}" [ngModelOptions]="{standalone: true}"
							[readonly]="!manipulationMode" />
					</mat-form-field>
				</div>
			</ng-container>
		</div>
		@if (manipulationMode) {
		<button mat-flat-button color="primary" (click)="addExtra()">
			<mat-icon>add</mat-icon>
			添加扩展信息
		</button>
		}
	</fieldset>
	<div class="actions">
		<mat-progress-bar *ngIf="loadingStatus===1" mode="indeterminate"></mat-progress-bar>
		<div *ngIf="loadingStatus===2" style="color:green">更新成功！</div>
		<div *ngIf="loadingStatus===3" style="color:red">{{message.ERROR}}</div>
	</div>
	<div class="actions" style="padding: 1em 0;">
		<a mat-stroked-button routerLink="/ming/list" type="reset" queryParamsHandling="merge">
			<mat-icon>arrow_back</mat-icon>
			返回清单
		</a>
		<a mat-stroked-button routerLink="/ming/hierarchy" queryParamsHandling="merge">
			<mat-icon>account_tree</mat-icon>
			成员结构图
		</a>
		@if (manipulationMode) {
		<button mat-flat-button color="primary" type="submit" [disabled]="loadingStatus!==0">
			<mat-icon *ngIf="loadingStatus===0">update</mat-icon>
			<mat-icon *ngIf="loadingStatus===1">loading</mat-icon>
			<mat-icon *ngIf="loadingStatus===2">check</mat-icon>
			<mat-icon *ngIf="loadingStatus===3">error</mat-icon>
			更新
		</button>
		}
	</div>
</form>
<mat-autocomplete #autoCommonExtraKeys="matAutocomplete">
	@for (option of commonExtraKeys; track option) {
	<mat-option [value]="option">{{option}}</mat-option>
	}
</mat-autocomplete>