<h2>{{pageTitle}}</h2>
<form (ngSubmit)="updateMember()">
	<fieldset>
		<legend>基础信息</legend>
		@if (member.avatar_url && member.avatar_url.length > 0) {
		<img [src]="member.avatar_url" alt="头像" width="300" [title]="member.avatar_url" />
		}
		@else {
		<mat-form-field>
			<mat-label>头像</mat-label>
			<input matInput [(ngModel)]="member.avatar_url" name="avatar_url" type="url" placeholder="头像链接" />
		</mat-form-field>
		}
		<mat-form-field>
			<mat-label>姓名</mat-label>
			<input matInput [(ngModel)]="member.name" name="name" placeholder="朱元璋" required readonly />
		</mat-form-field>
		<mat-form-field>
			<mat-label>拼音</mat-label>
			<input matInput [(ngModel)]="member.pin_yin" name="pin_yin" placeholder="zhū yuán zhāng" readonly />
		</mat-form-field>
		<mat-form-field>
			<mat-label>性别</mat-label>
			<mat-select name="gender" [(ngModel)]="member.gender" readonly>
				<mat-option [value]="0">未知❓</mat-option>
				<mat-option [value]="1">男♂️</mat-option>
				<mat-option [value]="2">女♀️</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>父</mat-label>
			<input matInput [(ngModel)]="member.father_id" name="father_id" placeholder="父亲的id，-1表示未知" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>母</mat-label>
			<input matInput [(ngModel)]="member.mother_id" name="mother" placeholder="母亲的id，-1表示未知" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>诞辰</mat-label>
			<input matInput [(ngModel)]="member.birthday" name="birthday" type="date">
		</mat-form-field>
		<mat-form-field>
			<mat-label>祭日</mat-label>
			<input matInput [(ngModel)]="member.deathday" name="deathday" type="date" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>简介</mat-label>
			<textarea matInput [(ngModel)]="member.summary" name="summary"></textarea>
		</mat-form-field>
	</fieldset>
	<fieldset class="extra">
		<legend>扩展信息</legend>
		<div class="flex" *ngIf="extraInfo&&extraInfo.length">
			<ng-container *ngFor="let kv of extraInfo; let i = index">
				<div class="col-2">
					<button mat-icon-button color="warn" (click)="removeExtra(i)" title="删除此扩展信息">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
				<div class="col-5">
					<mat-form-field>
						<mat-label>键</mat-label>
						<input matInput [(ngModel)]="kv[0]" name="{{kv[0]}}" [ngModelOptions]="{standalone: true}" [matAutocomplete]="autoCommonExtraKeys"/>
					</mat-form-field>
				</div>
				<div class="col-5">
					<mat-form-field>
						<mat-label>值</mat-label>
						<input matInput [(ngModel)]="kv[1]" name="{{kv[1]}}" [ngModelOptions]="{standalone: true}" />
					</mat-form-field>
				</div>
			</ng-container>
		</div>
		<button mat-flat-button color="primary" (click)="addExtra()">
			<mat-icon>add</mat-icon>
			添加扩展信息
		</button>
	</fieldset>
	<div class="actions">
		<a mat-stroked-button routerLink="/ming/list" type="reset">
			<mat-icon>arrow_back</mat-icon>
			返回清单
		</a>
		<button mat-flat-button color="primary" type="submit" [disabled]="loading">
			<mat-icon>update</mat-icon>
			更新
		</button>
	</div>
</form>
<div *ngIf="error" style="color:red">{{error}}</div>
<div *ngIf="success" style="color:green">更新成功！</div>
<mat-autocomplete #autoCommonExtraKeys="matAutocomplete">
	@for (option of commonExtraKeys; track option) {
	<mat-option [value]="option">{{option}}</mat-option>
	}
</mat-autocomplete>