article {
  min-width: 1024px;
  width: 90vw;
  max-width: 1440px;
}
.flex > div {
  box-sizing: border-box;
}
.flex .basic {
  background-color: rgb(244, 244, 255);
  flex-basis: 30%;
  padding: 1em 2em;
}
.flex .basic > div:first-child {
  text-align: center;
}
.flex .basic a {
  text-decoration: none;
}
.flex .basic img {
  max-width: 8em;
  border-radius: 50%;
}
.flex .experience {
  flex-basis: 70%;
  padding: 2em;
}
.flex .experience .sub-title {
  color: gray;
}
.flex .experience .mat-list-icon {
  max-width: 3em;
}
.flex .experience .mat-list-icon img {
  width: 100%;
}
.flex .experience img {
  max-height: 3em;
}
section header {
  margin-top: 1.5em;
  font-weight: bold;
}
section header fa-icon {
  font-size: 1.2em;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 50%;
}
.education .flex {
  align-items: center;
}
