<div class="mat-elevation-z1">
  @if (loadingStatus===0) {
    <!-- loading in progress -->
    <mat-spinner></mat-spinner>
  }
  @else if(loadingStatus===1) {
  <div class="table-container">
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="人物">
        <th mat-header-cell *matHeaderCellDef>人物</th>
        <td mat-cell *matCellDef="let row">
          {{row['拼音']}}<br/>{{row['姓名']}}
          <br/>生卒：{{row['生卒']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="年号庙号封号">
        <th mat-header-cell *matHeaderCellDef>年号庙号封号</th>
        <td mat-cell *matCellDef="let row">
          @if(row['status']==='emperor') {
            <!-- 皇帝 -->
            👑{{row['庙号']}}，年号：{{row['年号']}}
          }
          @else if(row['status']==='prince') {
            <!-- 藩王 -->
            🤴{{row['封号或身份']}}
          }
          @else {
            <span class="mat-small text-delete">幼殇/未封藩王</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="主要政绩或备注">
        <th mat-header-cell *matHeaderCellDef>主要政绩或备注</th>
        <td mat-cell *matCellDef="let row">
          {{row['主要政绩'] || row['备注']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="在位时间">
        <th mat-header-cell *matHeaderCellDef>在位时间</th>
        <td mat-cell *matCellDef="let row">{{row['在位时间']}}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="生卒">
        <th mat-header-cell *matHeaderCellDef>生卒</th>
        <td mat-cell *matCellDef="let row">{{row['生卒']}}</td>
      </ng-container> -->
      <ng-container matColumnDef="父母">
        <th mat-header-cell *matHeaderCellDef>父母</th>
        <td mat-cell *matCellDef="let row">父：{{row['父亲']}}，母：{{row['母亲']}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator> -->

  }
  @else if(loadingStatus===2) {
    <!-- error occurred -->
    <p class="body-2">error occurred.</p>
  }
</div>
