<article>
  <!-- some menu comes here -->
  <header></header>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer class="flex">
      <div class="col-10 col-sm-12">
        &copy;{{appName}} |&nbsp;
        <a href="https://beian.miit.gov.cn/" target="_blank">
          沪ICP备2024050501号-2
        </a>
      </div>
      <div class="col-2 col-sm-12">
        <a mat-icon-button href="#/sitemap" title="Sitemap">
          <fa-icon [icon]="icons.map"></fa-icon>
        </a>
      </div>
  </footer>
</article>
