<article>
  <!-- some menu comes here -->
  <header></header>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer>
    <mat-grid-list cols="12" rowHeight="2em">
      <mat-grid-tile colspan="10">
        &copy;{{appName}} |&nbsp;
        <a href="https://beian.miit.gov.cn/" target="_blank">
          沪ICP备2024050501号-2
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <a mat-icon-button href="#/sitemap" title="Sitemap">
          <fa-icon [icon]="icons.map"></fa-icon>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </footer>
</article>
