article {
  width: 90vw;
  margin: 0 auto;
}

article section {
  min-height: 90vh;
  margin: 2em auto;
}

article footer a {
  text-decoration: none;
}

@media print {
  article footer {
    display: none;
  }
}
