article {
  width: 90vw;
  min-width: 800px;
  margin: 0 auto;
}

article section {
  min-height: 80vh;
}

article footer a {
  text-decoration: none;
}

@media print{
    article footer{
      display: none;
    }
}