
<section>
    <mat-grid-list cols="12" rowHeight="20em" gutter="0.5em">
        <mat-grid-tile colspan="10">
            basic information, coming soon
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <img src="assets/images/avator.jpg" alt="Avator">
        </mat-grid-tile>
    </mat-grid-list>
</section>
<section>
    <mat-card>
        <mat-card-title>Work Experience</mat-card-title>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <h3 mat-line>Company A (from 2018.7 to now)</h3>
                    <p mat-line>Blablabla...</p>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <h3 mat-line>Company B (from 2012.2 to 2018.5)</h3>
                    <p mat-line>Blablabla...</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>
<section>
    <mat-card>
        <mat-card-title>Project Experience</mat-card-title>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <h3 mat-line>project X</h3>
                    <p mat-line>Blablabla...</p>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <h3 mat-line>project Y</h3>
                    <p mat-line>Blablabla...</p>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <h3 mat-line>project Z</h3>
                    <p mat-line>Blablabla...</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>
<section>
    <mat-card>
        <mat-card-title>Eduction &amp; Credentials</mat-card-title>
        <mat-card-content>
            ECJTU
        </mat-card-content>
    </mat-card>
</section>
<section>
    <mat-card>
        <mat-card-title>Skills</mat-card-title>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip>C#</mat-chip>
                <mat-chip>ASP.NET</mat-chip>
                <mat-chip>Javascript</mat-chip>
                <mat-chip>Node</mat-chip>
                <mat-chip>Angular</mat-chip>
                <mat-chip>SQL</mat-chip>
                <mat-chip>SQL Server</mat-chip>
                <mat-chip>Python</mat-chip>
                <mat-chip>Flutter</mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
</section>