<h2>{{pageTitle}}</h2>
<form (ngSubmit)="addMember()">
	<mat-form-field>
		<mat-label>姓名</mat-label>
		<input matInput [(ngModel)]="member.name" name="name" placeholder="朱元璋" required />
	</mat-form-field>
	<mat-form-field>
		<mat-label>拼音</mat-label>
		<input matInput [(ngModel)]="member.pin_yin" name="pin_yin" placeholder="zhū yuán zhāng" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>性别</mat-label>
		<mat-select name="gender" [(ngModel)]="member.gender">
			<mat-option [value]="0">未知❓</mat-option>
			<mat-option [value]="1">男♂️</mat-option>
			<mat-option [value]="2">女♀️</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>父</mat-label>
		<mat-select name="father_id" [(ngModel)]="member.father_id">
			<mat-option>未知</mat-option>
			@for (nm of males;track nm.value) {
			<mat-option [value]="nm.value">{{nm.name}} (🆔{{nm.value}})</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>母</mat-label>
		<mat-select name="mother_id" [(ngModel)]="member.mother_id">
			<mat-option>未知</mat-option>
			@for (nm of females;track nm.value) {
			<mat-option [value]="nm.value">{{nm.name}} (🆔{{nm.value}})</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>诞辰</mat-label>
		<input matInput [(ngModel)]="member.birthday" name="birthday" type="date">
	</mat-form-field>
	<mat-form-field>
		<mat-label>祭日</mat-label>
		<input matInput [(ngModel)]="member.deathday" name="deathday" type="date" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>头像</mat-label>
		<input matInput [(ngModel)]="member.avatar_url" name="avatar_url" type="url" placeholder="头像链接" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>简介</mat-label>
		<textarea matInput [(ngModel)]="member.summary" name="summary"></textarea>
	</mat-form-field>
	<div class="actions">
		<div *ngIf="loadingStatus===2" style="color:red">{{message.ERROR}}</div>
		<div *ngIf="loadingStatus===1" style="color:green">添加成功！</div>
	</div>
	<div class="actions" style="padding: 1em 0;">
		<a mat-stroked-button routerLink="/ming/list" type="reset" queryParamsHandling="merge">
			<mat-icon>arrow_back</mat-icon>
			返回清单
		</a>
		<button mat-flat-button color="primary" type="submit" [disabled]="loadingStatus!==0">
			<mat-icon *ngIf="loadingStatus===0">send</mat-icon>
			<mat-icon *ngIf="loadingStatus===1">check</mat-icon>
			提交
		</button>
	</div>
</form>