<article class="flex">
    <div class="col-3 mat-elevation-z2 basic">
        <div>
            <img [src]="img_base+'contact/resume%20avator.jpg'" alt="我的头像">
            <h3>朱浔生</h3>
            <div>求职意向：全栈开发/系统架构</div>
        </div>
        <mat-list role="list">
            <mat-list-item>
                <fa-icon [icon]="icons.faPhone"></fa-icon>
                <a mat-button href="tel:13122652725">13122652725</a>
            </mat-list-item>
            <mat-list-item>
                <fa-icon [icon]="icons.faEnvelope"></fa-icon>
                <a mat-button href="mailto:zh_cn2008@hotmail.com">zh_cn2008&#64;hotmail.com</a>
            </mat-list-item>
            <mat-list-item>
                <fa-icon [icon]="icons.faWeixin"></fa-icon>
                <button mat-button (click)="showWeChatQRCode()">ZXS-WeChat</button>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <section>
            <header>
                <fa-icon [icon]="icons.faCogs"></fa-icon>
                职业技能
            </header>
            <mat-list role="list">
                <mat-list-item>
                    <fa-icon [icon]="icons.faHtml5"></fa-icon>
                    &nbsp;+&nbsp;
                    <fa-icon [icon]="icons.faCss3"></fa-icon>
                    &nbsp;+&nbsp;
                    <fa-icon [icon]="icons.faJs"></fa-icon>
                </mat-list-item>
                <mat-list-item>dotnet Core</mat-list-item>
                <mat-list-item>Python</mat-list-item>
                <mat-list-item>Node</mat-list-item>
                <mat-list-item>SQL</mat-list-item>
                <mat-list-item>Angular</mat-list-item>
                <mat-list-item>React</mat-list-item>
                <mat-list-item>Linux</mat-list-item>
                <mat-list-item>Azure</mat-list-item>
            </mat-list>
        </section>
        <mat-divider></mat-divider>
        <section>
            <header>
                <fa-icon [icon]="icons.faGraduationCap"></fa-icon>
                教育背景及证书
            </header>
            <mat-list>
                <mat-list-item>
                    <div>
                        <!-- <header><img src="https://www.ecjtu.edu.cn/images/logo20210811.png" alt="华东交通大学"></header> -->
                        <header matListItemTitle>华东交通大学（软件+信息工程专业）</header>
                        <div matListItemLine>2008.9 至 2012.6</div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div>
                        <header matListItemTitle>软件设计师</header>
                        <div matListItemLine>2011.5 签发</div>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div>
                        <header matListItemTitle>国际信息系统审计师 (CISA)</header>
                        <div matListItemLine>2020.8 签发</div>
                    </div>
                </mat-list-item>
            </mat-list>
        </section>
    </div>
    <div class="col-9 experience">
        <section>
            <header>
                <fa-icon [icon]="icons.faUserAlt"></fa-icon>
                自我评价
            </header>
            <p>
                工作十二年，目标岗位全栈开发，一直在努力的路上！擅长解决面向企业的 IT 系统搭建、性能调优和咨询。精通 .net 平台开发（ASP.NET、SQL Server、dotnet
                Core、Azure等），数据库采用 SQL Server、MySQL 和 SQLite 等，前端使用 Angular、React
                等。熟练网页设计和网站优化基础知识，并且平时总结出一些自己的见解。针对某些特定业务场景，也会使用其他技能，如用 Python
                监控媒体报道或办公自动化，用 jQuery、SSO 快速扩展企业内部系统功能。
            </p>
            <p>学习能力强，有良好的沟通能力，与同事关系融洽。平时碰见 bug 喜欢追根究底并能快速解决问题。爱好尝试各种新/流行技术，比如 Elasticsearch、
                Flutter、微信小程序、AI 等等。
            </p>
        </section>
        <section>
            <header>
                <fa-icon [icon]="icons.faCode"></fa-icon>
                项目经验
            </header>
            <section>
                <header>企业第三方合规风险管理系统</header>
                <div class="sub-title">2023.4 至今</div>
                <p>
                    领导8人开发小组，初期与客户多部门梳理业务需求，确定技术选型，中期与客户IT沟通SSO集成、虚拟机配置等，后期部署至Azure云。历时六个月上线并运维至今。与旧的系统相比，客户第三方准入流程从数周缩短至3-5天，极大缩短了合规与业务来回沟通的成本。同时在一期系统上线后，与客户合规进一步合作，开发了风险仪表盘，实现第三方风险可视化及预警。采用的技术包括但不限于：Docker、React、Python、dotnet
                    Core、Azure SQL、Linux、Power BI。
                </p>
            </section>
            <section>
                <header>企业第三方尽职调查平台</header>
                <div class="sub-title">2019.7 至今</div>
                <p>
                    参与设计、开发、部署和运维企业第三方尽职调查平台至今，将传统的合规尽职调查报告数字化、自动化，根据企业行业特点和风险偏好，定制开发风险积分卡，助力企业审查第三方并持续监控风险。采用的技术包括但不限于：天眼查API（国内第三方主要数据源）、D&B
                    Hoovers/Factiva API（境外第三方主要数据源）、Angular、ASP.net、SQL Server、Citrix（为企业提供安全可靠的跳板机环境）。
                </p>
            </section>
            <section>
                <header>企业商业秘密外发仪表盘</header>
                <div class="sub-title">2022.8 - 2023.2</div>
                <p>
                    搭建企业合规数据中台，定制化设计关键风险指标，实现风险数据 T+1 展示（部分数据/风险实时展示）。采用的技术包括但不限于：Splunk、SQL
                    Server、SSIS、Tableau、Kettle、dotnet Core、Power BI。
                </p>
            </section>
            <section>
                <header>负面舆情监测平台</header>
                <div class="sub-title">2021.12 至今</div>
                <p>
                    基于<a href="https://www.elastic.co/cn/elastic-stack/" mat-button>ELK
                        技术栈</a>，搭建统一的负面舆情监控平台，持续关注公司的审计客户及其第三方，极大缩减企业人力成本。采用的技术包括但不限于：Elasticsearch、Kibana、Python、Node、Playwright、Redis、Pandas。
                </p>
            </section>
            <section>
                <header>Social Insight Service</header>
                <div class="sub-title">2012.12 - 2018.4</div>
                <p>
                    一个持续迭代的微软社区（MSDN、ASP.NET、MS community、Azure、Stackoverflow、Office 365等）分析平台。最开始用 Silverlight
                    技术开发，后经改造成 HTML5 网站。可以监测论坛上的Top Influencers、Top Threads、Top Forums以及Top
                    Tags等等。后期扩展到其他主流程序员常访问平台（GitHub、Meetup、Wordpress、CSDN、RSDN、Gitee等）。我的职责：重构平台，设计并编写主要页面，包括样式布局、js
                    代码以及 asp.net 后台访问数据库等。独立完成收藏夹、日志、缓存等功能，参与实现订阅等功能。完成单元测试，并审阅代码质量。编写js控件。
                </p>
            </section>
        </section>
        <section>
            <header>
                <fa-icon [icon]="icons.faBriefcase"></fa-icon>
                工作经历
            </header>
            <mat-list role="lsit">
                <mat-list-item>
                    <span mat-list-icon>
                        <img [src]="img_base+'contact/EY_Logo.png'" alt="EY">
                    </span>
                    <h4 mat-line>安永会计师事务所</h4>
                    <p class="sub-title" mat-line>经理，2018.7 至今</p>
                </mat-list-item>
                <mat-list-item>
                    <span mat-list-icon>
                        <img [src]="img_base+'contact/wicresoft-logo-blue-header.png'" alt="Wicresoft">
                    </span>
                    <h4 mat-line>上海微创软件</h4>
                    <p class="sub-title" mat-line>高级开发工程师，外派至微软，2012.2 至 2018.5 </p>
                </mat-list-item>
            </mat-list>
        </section>
    </div>
</article>