/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/** CSS reset */
html,
body {
  background-color: rgb(240, 240, 240);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex .col-1 {
  flex-basis: 8.3%;
}
.flex .col-2 {
  flex-basis: 16.6%;
}
.flex .col-3 {
  flex-basis: 25%;
}
.flex .col-4 {
  flex-basis: 33.33%;
}
.flex .col-5 {
  flex-basis: 41.6%;
}
.flex .col-6 {
  flex-basis: 50%;
}
.flex .col-7 {
  flex-basis: 58.3%;
}
.flex .col-8 {
  flex-basis: 66.67%;
}
.flex .col-9 {
  flex-basis: 75%;
}
.flex .col-10 {
  flex-basis: 83.3%;
}
.flex .col-11 {
  flex-basis: 91.6%;
}
.flex .col-12 {
  flex-basis: 100%;
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}

/** bootstrap grid media quries:
  https://getbootstrap.com/docs/5.1/layout/grid/#grid-options
*/
@media (max-width: 576px) {
  .flex .col-sm-1 {
    flex-basis: 8.3%;
  }
  .flex .col-sm-2 {
    flex-basis: 16.6%;
  }
  .flex .col-sm-3 {
    flex-basis: 25%;
  }
  .flex .col-sm-4 {
    flex-basis: 33.33%;
  }
  .flex .col-sm-5 {
    flex-basis: 41.6%;
  }
  .flex .col-sm-6 {
    flex-basis: 50%;
  }
  .flex .col-sm-7 {
    flex-basis: 58.3%;
  }
  .flex .col-sm-8 {
    flex-basis: 66.67%;
  }
  .flex .col-sm-9 {
    flex-basis: 75%;
  }
  .flex .col-sm-10 {
    flex-basis: 83.3%;
  }
  .flex .col-sm-11 {
    flex-basis: 91.6%;
  }
  .flex .col-sm-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .flex .col-md-1 {
    flex-basis: 8.3%;
  }
  .flex .col-md-2 {
    flex-basis: 16.6%;
  }
  .flex .col-md-3 {
    flex-basis: 25%;
  }
  .flex .col-md-4 {
    flex-basis: 33.33%;
  }
  .flex .col-md-5 {
    flex-basis: 41.6%;
  }
  .flex .col-md-6 {
    flex-basis: 50%;
  }
  .flex .col-md-7 {
    flex-basis: 58.3%;
  }
  .flex .col-md-8 {
    flex-basis: 66.67%;
  }
  .flex .col-md-9 {
    flex-basis: 75%;
  }
  .flex .col-md-10 {
    flex-basis: 83.3%;
  }
  .flex .col-md-11 {
    flex-basis: 91.6%;
  }
  .flex .col-md-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .flex .col-lg-1 {
    flex-basis: 8.3%;
  }
  .flex .col-lg-2 {
    flex-basis: 16.6%;
  }
  .flex .col-lg-3 {
    flex-basis: 25%;
  }
  .flex .col-lg-4 {
    flex-basis: 33.33%;
  }
  .flex .col-lg-5 {
    flex-basis: 41.6%;
  }
  .flex .col-lg-6 {
    flex-basis: 50%;
  }
  .flex .col-lg-7 {
    flex-basis: 58.3%;
  }
  .flex .col-lg-8 {
    flex-basis: 66.67%;
  }
  .flex .col-lg-9 {
    flex-basis: 75%;
  }
  .flex .col-lg-10 {
    flex-basis: 83.3%;
  }
  .flex .col-lg-11 {
    flex-basis: 91.6%;
  }
  .flex .col-lg-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 992px) {
  .flex .col-xl-1 {
    flex-basis: 8.3%;
  }
  .flex .col-xl-2 {
    flex-basis: 16.6%;
  }
  .flex .col-xl-3 {
    flex-basis: 25%;
  }
  .flex .col-xl-4 {
    flex-basis: 33.33%;
  }
  .flex .col-xl-5 {
    flex-basis: 41.6%;
  }
  .flex .col-xl-6 {
    flex-basis: 50%;
  }
  .flex .col-xl-7 {
    flex-basis: 58.3%;
  }
  .flex .col-xl-8 {
    flex-basis: 66.67%;
  }
  .flex .col-xl-9 {
    flex-basis: 75%;
  }
  .flex .col-xl-10 {
    flex-basis: 83.3%;
  }
  .flex .col-xl-11 {
    flex-basis: 91.6%;
  }
  .flex .col-xl-12 {
    flex-basis: 100%;
  }
}
