/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/** CSS reset */
html,
body {
  background-color: rgb(240, 240, 240);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex .col-3 {
  flex-basis: 25%;
}
.flex .col-4 {
  flex-basis: 33.33%;
}

.flex .col-8 {
  flex-basis: 66.67%;
}
.flex .col-9 {
  flex-basis: 75%;
}
