<mat-form-field class="full-width" appearance="fill">
    <mat-label>Search Term</mat-label>
    <input matInput placeholder="type in to search emoji" (keydown)="doSearch($event)">
</mat-form-field>

<div *ngIf="data&&data.length" class="flex">
    <mat-card *ngFor="let d of data">
        <mat-card-title>
            <strong>{{d.name}}</strong>
            <span title="Code Points">{{d.code_points}}</span>
        </mat-card-title>
        <mat-card-content>
            <em title="Group">{{d.group}}</em>
            /
            <em title="Sub Group">{{d.sub_group}}</em>
            <p>{{d.description}}</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="copy(d.name)">
                <mat-icon>content_copy</mat-icon>
                Copy
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<p class="text-center" *ngIf="!(data&&data.length)">😟 NO emoji matched your search.</p>